<header>
	<a href="{{path('photo_index')}}">Logo</a>
	<nav>
		<div>
			<a href="{{path('photo_index')}}">Acceuil</a>
		</div>
		<hr>
		<div>
			<div>
				<a>Pays</a>
				<div>
					{% for countries in country %}

						<a href="">{{countries.name}}</a>

					{% endfor %}
				</div>
			</div>
			<div>
				<a>Thèmes</a>
				<div>
					{% for categories in category %}

						<a href="">{{categories.name}}</a>

					{% endfor %}
				</div>
			</div>
		</div>
		<hr>
		<div>
			<a href="{{path('photo_index')}}">Shop</a>
		</div>
		<hr>
		<div>
			<a href="{{path('photo_index')}}">Contact</a>
			<a href="{{path('photo_index')}}">A propos</a>
		</div>


	</nav>
	<img src="https://picsum.photos/24" alt="">
</header>
