{% extends 'base.html.twig' %}

{% block title %}Photo index
{% endblock %}

{% block body %}
	<section>
		{% for photo in photos %}
			<article>
				<div class="photo">
					<img class="img" src="{{ photo.image }}" alt="">
					<div id="content">
						<div>
							<h2>{{ photo.title }}</h1>
						</div>
						<div>
							<p>{{ photo.description }}</p>
						</div>
						<div class="footer">
							<h4>
								{% for setting in photo.setting %}
									{{ setting.iso }}
								{% endfor %}
							</h4>
							<h4>
								{% for setting in photo.setting %}
									{{ setting.shutter }}
								{% endfor %}
							</h4>
							<h4>
								{% for setting in photo.setting %}
									{{ setting.focal }}
								{% endfor %}
							</h4>
						</div>
					</div>
				</div>
				<h6>{{ photo.address }}</h6>
			</article>
		{% endfor %}

		<a href="{{ path('photo_new') }}">Create new</a>
	</section>
{% endblock %}
